data/*
!data/dev-dl-pa.home.nyu.edu/.save-this-empty-directory-in-repo
!data/stage-dl-pa.home.nyu.edu/.save-this-empty-directory-in-repo
!data/prod-dl-pa.home.nyu.edu/.save-this-empty-directory-in-repo

reports/*
!reports/dev-dl-pa.home.nyu.edu/.save-this-empty-directory-in-repo
!reports/stage-dl-pa.home.nyu.edu/.save-this-empty-directory-in-repo
!reports/dl-pa.home.nyu.edu/.save-this-empty-directory-in-repo

